<mat-card>
  <div class="container pt-5">
    <h2 class="mb-4">Audi s5 2017, Full Agency Service</h2>

    <div class="row">
      <div class="col-8">
        <img src="../../../assets/carone.jpg" class="imgone" />
        <div class="row">
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgtwo" />
          </div>
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgtwo" />
          </div>
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgtwo" />
          </div>
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgtwo" />
          </div>
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgtwo" />
          </div>
          <div class="col-2">
            <img src="../../../assets/cartwo.jpg" class="imgthree" />
          </div>
        </div>
        <div style="display: flex">
          <mat-icon>room</mat-icon>
          <p>Egypt, New Damitta</p>
        </div>
      </div>
      <div class="col-4">
        <!-- <h2 style="color: rgb(255, 162, 0);">AED 200,000</h2> -->

        <div class="card" style="width: 18rem; border-radius: 0">
          <p style="text-align: center; margin-top: 10px; font-weight: bold">
            CONTACT SELLER
          </p>
          <img
            src="../../../assets/download.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">Michal Smith</h5>
            <p class="card-text" style="color: gray; text-align: center">
              Monday 23 feb , 02:33AM
            </p>
            <hr />
            <div style="text-align: center">
              <button
                class="btn"
                style="
                  border-color: mediumorchid;
                  color: blueviolet;
                  display: inline;
                  margin: 10px;
                "
              >
                <mat-icon> chat</mat-icon>Chat
              </button>
              <button
                class="btn"
                style="border-color: green; color: green; display: inline"
              >
                WhatsApp
              </button>
              <button
                class="btn"
                style="
                  color: blueviolet;
                  border-color: blueviolet;
                  padding: 3px 33px;
                "
              >
                <mat-icon> call</mat-icon> 01002345678
              </button>
              <button
                class="btn mt-2"
                style="
                  color: rgb(255, 183, 0);
                  border-color: rgb(255, 183, 0);
                  padding: 3px 35px;
                "
              >
                MAKE AM COFFE
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-card>
        <div class="row">
          <h4 style="padding: 20px 70px">Specifications</h4>

          <div class="col-8">
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon> mail_outline</mat-icon>Message</mat-grid-tile
              >
              <mat-grid-tile>47,000</mat-grid-tile>
              <mat-grid-tile>
                <mat-icon> mail_outline</mat-icon>Message</mat-grid-tile
              >
              <mat-grid-tile>47,000</mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon> calendar_today</mat-icon>Year</mat-grid-tile
              >
              <mat-grid-tile>2017</mat-grid-tile>
              <mat-grid-tile>
                <mat-icon> calendar_today</mat-icon> Year</mat-grid-tile
              >
              <mat-grid-tile>2017</mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon> language</mat-icon> 5 pecs</mat-grid-tile
              >
              <mat-grid-tile>GCC</mat-grid-tile>
              <mat-grid-tile>
                <mat-icon> language</mat-icon>5 pecs</mat-grid-tile
              >
              <mat-grid-tile>GCC</mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon> invert_colors</mat-icon>Warmancy</mat-grid-tile
              >
              <mat-grid-tile>Yes</mat-grid-tile>
              <mat-grid-tile>
                <mat-icon>invert_colors </mat-icon>Warmancy</mat-grid-tile
              >
              <mat-grid-tile>Yes</mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-icon> invert_colors</mat-icon>Warmancy</mat-grid-tile
              >
              <mat-grid-tile>Yes</mat-grid-tile>
              <mat-grid-tile>
                <mat-icon>invert_colors </mat-icon>Warmancy</mat-grid-tile
              >
              <mat-grid-tile>Yes</mat-grid-tile>
            </mat-grid-list>
            <div class="card m-5">
              <h5 class="card-header">Description</h5>
              <div class="card-body">
                <p class="card-title">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content,Some quick example text to
                  build on the card title and make up the bulk of the card's
                  content.
                </p>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
            <mat-card>
              <h5 style="padding: 15px 50px;">Location Map</h5>
              <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804668.560056954!2d22.451428531250002!3d46.6478155109005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2z2YXYtdix!5e0!3m2!1sar!2sro!4v1693924523232!5m2!1sar!2sro" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-card>
          </div>
          <div class="col-4">
            <h5 class="m-3">You might also like these</h5>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../../../assets/carone.jpg"
                    style="height: 100%"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 162, 0)">
                      AED 182,000
                    </h5>
                    <p class="card-text">Range Rover 2013</p>
                    <p>Location</p>
                    <p class="card-text">
                      <small class="text-body-secondary">2 days ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../../../assets/carone.jpg"
                    style="height: 100%"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 162, 0)">
                      AED 182,000
                    </h5>
                    <p class="card-text">Range Rover 2013</p>
                    <p>Location</p>
                    <p class="card-text">
                      <small class="text-body-secondary">2 days ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../../../assets/carone.jpg"
                    style="height: 100%"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 162, 0)">
                      AED 182,000
                    </h5>
                    <p class="card-text">Range Rover 2013</p>
                    <p>Location</p>
                    <p class="card-text">
                      <small class="text-body-secondary">2 days ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../../../assets/carone.jpg"
                    style="height: 100%"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: rgb(255, 162, 0)">
                      AED 182,000
                    </h5>
                    <p class="card-text">Range Rover 2013</p>
                    <p>Location</p>
                    <p class="card-text">
                      <small class="text-body-secondary">2 days ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>
